<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if logged_in? %>
      <h1><%= current_user.user_name %></h1>
      <form action="<%= session_url %>" method="post">
        <input name='_method' value='delete' type='hidden' />
        <input type='submit' value='Logout' />
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Log In</a>
      <a href="<%= new_users_url %>">Sign Up</a>
    <% end %>

  </header>
  <body>
    <%= yield %>
  </body>
</html>
